{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>{{ ctx_title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <a href="{% url 'archive'%}">Outbox</a>
            <br><br>
            <a class="back-link" href="{% url 'external_search' %}">Search</a>
            <br><br>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="main_message">
            <form action="" method="post" enctype="multipart/form-data">
                {{form.media}}
                {% csrf_token %}
                {{ ctx_form.as_p }}

                <input type="submit" value="Submit" id="Submit_mail">
            </form>
        </div>
    </div>
</body>

</html>